@font-face {
  font-family: "BOOKmanOptiBold";
  src: local("BOOKmanOptiBold"),
    url("../fonts/BOOKmanOpti-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LidoStfCondCeBold";
  src: local("LidoStfCondCeBold"),
    url("../fonts/LidoStfCondCe-Bold.ttf") format("truetype");
}

.gameNav {
  background: #000000;
  font-family: BOOKmanOptiBold, serif !important;
}

.gameBrand {
  text-decoration: none;
  color: #271414;
}

/* Make the text in brandSubtitle half again as wide
so that it mirrors the appearance of the text in the
Cowboy Bebop logo image better */
.brandSubtitle {
  transform: scale(1.5, 1);
}

.bebopLogo {
  height: 100px;
}

.bebopImage {
  margin-top: 126px;
  width: 100%;
  padding: 0 80px;
  background: #000000;
}

.gameInstructions {
  margin-top: 15px;
  height: 126px;
  background: #000000;
  font-family: LidoStfCondCeBold, serif !important;
}

.bebopRed {
  color: #d9422e;
}

.bebopGreen {
  color: #4ea638;
}

.swordfishImage {
  width: 100%;
}

.instructionText {
  width: 1900px;
}

@media screen and (max-width: 1435px) {
  .instructionText {
    width: 2100px;
  }
}

@media screen and (max-width: 1360px) {
  .instructionText {
    width: 2300px;
  }
}

@media screen and (max-width: 1296px) {
  .instructionText {
    width: 2500px;
  }

  .swordfishImage {
    min-height: 63px;
    object-fit: cover;
    object-position: 100% 0;
  }
}

@media screen and (max-width: 1244px) {
  .instructionText {
    width: 2750px;
  }
}

@media screen and (max-width: 1189px) {
  .instructionText {
    width: 3000px;
  }

  .subtitleNav {
    max-width: 245px;
  }
}

@media screen and (max-width: 1143px) {
  .instructionText {
    width: 3250px;
  }
}

@media screen and (max-width: 1104px) {
  .instructionText {
    width: 3500px;
  }
}

@media screen and (max-width: 1071px) {
  .instructionText {
    width: 3750px;
  }

  .subtitleNav {
    max-width: 100px;
  }
}

@media screen and (max-width: 1042px) {
  .instructionText {
    width: 4000px;
  }
}

@media screen and (max-width: 1017px) {
  .instructionText {
    width: 4500px;
  }
}

@media screen and (max-width: 975px) {
  .instructionText {
    width: 5000px;
  }

  .scoreNav {
    display: none;
  }

  .lowWidthScoreNav {
    display: block !important;
    margin-top: 126px;
    font-family: BOOKmanOptiBold, serif !important;
    border-color: #ed462f !important;
  }

  .bebopImage {
    margin-top: 30px;
  }

  .subtitleNav {
    margin-right: 72.5px !important;
    max-width: 320px;
  }
}

@media screen and (max-width: 941px) {
  .instructionText {
    width: 5500px;
  }

  .bebopImage {
    padding: 0 40px;
  }
}

@media screen and (max-width: 914px) {
  .instructionText {
    width: 6000px;
  }
}

@media screen and (max-width: 891px) {
  .instructionText {
    width: 7000px;
  }

  .subtitleNav {
    margin-right: 72.5px !important;
    max-width: 245px;
  }
}

@media screen and (max-width: 855px) {
  .instructionText {
    width: 8500px;
  }
}

@media screen and (max-width: 816px) {
  .instructionText {
    width: 9500px;
  }
}