@font-face {
  font-family: "BOOKmanOptiBold";
  src: local("BOOKmanOptiBold"),
    url("../fonts/BOOKmanOpti-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LidoStfCondCeBold";
  src: local("LidoStfCondCeBold"),
    url("../fonts/LidoStfCondCe-Bold.ttf") format("truetype");
}

.gameNav {
  background: #000000;
  font-family: BOOKmanOptiBold, serif !important;
}

.gameBrand {
  text-decoration: none;
  color: #271414;
}

/* Make the text in brandSubtitle half again as wide
so that it mirrors the appearance of the text in the
Cowboy Bebop logo image better */
.brandSubtitle {
  transform: scale(1.5, 1);
}

.bebopLogo {
  height: 100px;
}

.bebopImage {
  margin-top: 126px;
  width: 100%;
  padding: 0 80px;
  background: #000000;
}

.gameInstructions {
  margin-top: 15px;
  height: 126px;
  background: #000000;
  font-family: LidoStfCondCeBold, serif !important;
}

.bebopRed {
  color: #d9422e;
}

.bebopGreen {
  color: #4ea638;
}

.swordfishImage {
  width: 100%;
}

.instructionText {
  width: 1900px;
}

@media screen and (max-width: 1435px) {
  .instructionText {
    width: 2100px;
  }
}

@media screen and (max-width: 1360px) {
  .instructionText {
    width: 2300px;
  }
}

@media screen and (max-width: 1296px) {
  .instructionText {
    width: 2500px;
  }

  .swordfishImage {
    min-height: 63px;
    object-fit: cover;
    object-position: 100% 0;
  }
}

@media screen and (max-width: 1244px) {
  .instructionText {
    width: 2750px;
  }
}

@media screen and (max-width: 1189px) {
  .instructionText {
    width: 3000px;
  }

  .subtitleNav {
    max-width: 245px;
  }
}

@media screen and (max-width: 1143px) {
  .instructionText {
    width: 3250px;
  }
}

@media screen and (max-width: 1104px) {
  .instructionText {
    width: 3500px;
  }

  .subtitleNav {
    max-width: 100px;
  }
}

@media screen and (max-width: 1071px) {
  .instructionText {
    width: 3750px;
  }
}

@media screen and (max-width: 1042px) {
  .instructionText {
    width: 4000px;
  }
}

@media screen and (max-width: 1017px) {
  .instructionText {
    width: 4500px;
  }
}

@media screen and (max-width: 975px) {
  .instructionText {
    width: 5000px;
  }

  .scoreNav {
    display: none;
  }

  .lowWidthScoreNav {
    display: block !important;
    margin-top: 126px;
    font-family: BOOKmanOptiBold, serif !important;
    border-color: #ed462f !important;
  }

  .bebopImage {
    margin-top: 30px;
  }

  .subtitleNav {
    margin-right: 72.5px !important;
    max-width: 320px;
  }

  .characterPortraitDiv {
    padding: 25px !important;
  }
}

@media screen and (max-width: 941px) {
  .instructionText {
    width: 5500px;
  }

  .bebopImage {
    padding: 0 40px;
  }
}

@media screen and (max-width: 914px) {
  .instructionText {
    width: 6000px;
  }
}

@media screen and (max-width: 891px) {
  .instructionText {
    width: 7000px;
  }

  .subtitleNav {
    margin-right: 72.5px !important;
    max-width: 245px;
  }
}

@media screen and (max-width: 855px) {
  .instructionText {
    width: 8500px;
  }
}

@media screen and (max-width: 816px) {
  .instructionText {
    width: 9500px;
  }
}

@media screen and (max-width: 810px) {
  .gameNav {
    flex-flow: column;
  }

  .subtitleNav {
    margin-right: auto !important;
    padding-bottom: 10px;
  }

  .lowWidthScoreNav {
    margin-top: 160px;
  }

  .gameBrand {
    margin-left: auto;
    margin-right: auto;
  }

  .instructionTextLine {
    font-size: 528.3px;
  }

  .characterPortraitDiv {
    padding: 20px !important;
  }
}

@media screen and (max-width: 755px) {
  .instructionTextLine {
    font-size: 1.325rem;
  }
}

@media screen and (max-width: 720px) {
  .instructionTextLine {
    font-size: 1.25rem;
  }

  .characterPortraitDiv {
    padding: 15px !important;
  }
}

@media screen and (max-width: 685px) {
  .swordfishImage {
    display: none;
  }

  .instructionTextLine {
    font-size: 1.5rem;
  }

  .instructionTextContents {
    margin-left: 0 !important;
    padding-left: 3rem !important;
  }
}

@media screen and (max-width: 670px) {
  .instructionTextLine {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 650px) {
  .container-fluid {
    padding: 0 30px 30px !important;
  }

  .characterPortraitDiv {
    padding: 12.5px !important;
  }

  .gameInstructions {
    margin-top: 12.5px;
  }
}

@media screen and (max-width: 630px) {
  .instructionTextLine {
    font-size: 1.325rem;
  }
}

@media screen and (max-width: 600px) {
  .instructionTextLine {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .instructionTextContents {
    padding: 0 40px !important;
  }

  .characterPortraitDiv {
    padding: 15px !important;
  }

  .gameInstructions {
    margin-top: 15px;
    height: 100px;
  }
}

@media screen and (max-width: 555px) {
  .bebopImage, .instructionTextContents {
    padding: 0 30px !important;
  }
}

@media screen and (max-width: 535px) {
  .bebopImage, .instructionTextContents {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 515px) {
  .instructionTextLine {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .instructionTextLine {
    font-size: 1.175rem;
  }
}

@media screen and (max-width: 500px) {
  .instructionTextLine {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 480px) {
  .instructionTextLine {
    font-size: 1.125rem;
  }

  .characterPortraitDiv {
    padding: 12.5px !important;
  }

  .gameInstructions {
    margin-top: 12.5px;
  }
}

@media screen and (max-width: 470px) {
  .instructionTextLine {
    font-size: 1.1rem;
  }

  .bebopLogo {
    width: 325px;
    height: auto;
  }

  .brandSubtitle {
    font-size: 17.5px;
  }

  .lowWidthScoreNav {
    margin-top: 141.33px;
  }
}

@media screen and (max-width: 460px) {
  .instructionTextLine {
    font-size: 1.075rem;
  }
}

@media screen and (max-width: 450px) {
  .instructionTextLine {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 440px) {
  .instructionTextLine {
    font-size: 1.025rem;
  }
}

@media screen and (max-width: 430px) {
  .instructionTextLine {
    font-size: 1rem;
  }

  .characterPortraitDiv {
    padding: 10px !important;
  }

  .gameInstructions {
    margin-top: 10px;
    height: 80px;
  }
}

@media screen and (max-width: 420px) {
  .instructionTextLine {
    font-size: 0.975rem;
  }
}

@media screen and (max-width: 410px) {
  .instructionTextLine {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 400px) {
  .instructionTextLine {
    font-size: 0.925rem;
  }
}

@media screen and (max-width: 390px) {
  .instructionTextLine {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 390px) {
  .instructionTextLine {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 380px) {
  .instructionTextLine {
    font-size: 0.85rem;
  }

  .bebopLogo {
    width: 300px;
  }

  .brandSubtitle {
    font-size: 16px;
  }

  .lowWidthScoreNav {
    margin-top: 132.83px;
  }

  .scoreText {
    font-size: 18.75px;
  }
}

@media screen and (max-width: 370px) {
  .instructionTextLine {
    font-size: 0.825rem;
  }

  .gameInstructions {
    height: 70px;
  }
}

@media screen and (max-width: 360px) {
  .instructionTextLine {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .instructionTextLine {
    font-size: 0.775rem;
  }

  .bebopLogo {
    width: 275px;
  }

  .brandSubtitle {
    font-size: 14.4px;
  }

  .lowWidthScoreNav {
    margin-top: 124.34px;
  }

  .scoreText {
    font-size: 17.5px;
  }
}

@media screen and (max-width: 340px) {
  .instructionTextLine {
    font-size: 0.75rem;
  }

  .gameInstructions {
    height: 60px;
  }

  .bebopImage {
    margin-top: 23.5px;
  }
}

@media screen and (max-width: 330px) {
  .instructionTextLine {
    font-size: 0.725rem;
  }
}

@media screen and (max-width: 319px) {
  .instructionTextLine {
    font-size: 0.725rem;
  }

  .bebopLogo {
    width: 250px;
  }

  .brandSubtitle {
    font-size: 13.25px;
  }

  .lowWidthScoreNav {
    margin-top: 115.86px;
  }

  .scoreText {
    font-size: 16px;
  }
}